/**
 * Careful not to import all of compass lib after bootstrap mixins. 
 * "clearfix" is a known mixin that will get overwritten with the compass one and break bootstrap layouts as a result.
 */

// Bootstrap 3 Core CSS
@import "../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/grid";

// Bootstrap 3 utility classes
@import "../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/responsive-utilities";


/**
 * Needs 100% height on html, body and content to fill screen height
 */

.l-wrapper-outter-html {
	background-color: $green1;
	width: 100%;
	height: 100%;
}

.l-wrapper-outter-body {
	height: 100%;
}