
/**
 * Useful for ie8 compatible bg colours with alpha value.
 * Not true transparency, but fine if on a solid bg.
 * Must include a bg colour ($background) to mix with.
 */
@mixin alpha-attribute($attribute, $color, $background, $isItImportant: true) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);

  @if( $isItImportant ) {
	  #{$attribute}: $solid-color !important;
	  #{$attribute}: $color !important;
  } @else {
	  #{$attribute}: $solid-color;
	  #{$attribute}: $color;
  }
}
