
.ani-underline {
	transition-property: right, left;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.apptitle {
	&:hover {
		.ani-underline {
			left: 0;
			right: 13px;
		}
	}
}

.tiles-heading {
	&.is-clamped {
		.is-expanded & {
			text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}
	}
}

.tiles-url {
	// If <a> tag, mustn't be nested in a <p> tag, or the <hr> won't stay nested (Chrome)
	&:hover {

		// overrides BS
		text-decoration: none;
		color: #fff;

		.ani-underline {
			left: -3px;
			right: -3px;
		}
	}
}

.btncontact {
	&:hover {
					
		.ani-underline {
			left: 15%;
			right: 15%;
			
			@media (min-width: $screen-sm-min) {
				left: -7px;
				right: -7px;
			}

			.l-contactpanel & {
				left: -7px;
				right: -7px;
			}
		}
	}
}

.appnavbar-toggle {
	&:hover, &:focus {
		// overrides existing styles
		background-color: $green-2-5 !important;
	}
}


.tiles-hit {
	
	.is-expanding & {
		cursor: default;
	}
}

.tiles-container {

	.tiles:not( .active ):hover & {

		@include alpha-attribute("background-color", rgba(34, 85, 175, 0.8), rgb(106, 142, 204), false );
	}
}




.tiles {
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: linear;

	$dur: 0.5;
	$dif: 0.05;
	@for $i from 1 through $tiles-len {
		&:nth-child( #{$i} ) {
			$incr: ($i * $dif);

			@if( $incr < $dur ) {
				// if incr is less than dur, stagger with delay. 
				// Duration must go down with each incr, so they all finish at same time.
				transition-delay: #{$incr + "s"};
				transition-duration: #{($dur - $incr) + "s"};
			} @else {
				// if incr is more than duration, no delay
				transition-duration: #{$dur + "s"};
			}
		}
	}


	.is-expanding & {
		opacity: 0;		
	}

	&.active {
		// so the big active tile is always quick to appear/disapear
		transition-delay:  0s;
		transition-duration: 0.3s;
		
		.is-expanded & {

			position: absolute;
			right: 0;
			top: 0;
		}
	}

	@media (min-width: $screen-sm-min) {

		.is-expanded & {
			clear: both;
		}
	}

	@media (min-width: $screen-lg-min) {

		.is-expanded & {
			&.odd {
				clear: none;
			}
		}
	}
}

.snugbox {

	&-expimg {
		.tiles.active & {
			cursor: pointer;
			margin-left: 1%;
    		width: 98%;
    		display: block;
		}

		.tiles.active .no-exp & {
			height: 150px !important;
			display: block;

			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
		

	&-exp {
		.tiles.active & {
			&.no-exp {
				width: 48%;
				float: left;
				margin: 0 1%;
			}
		}
	}
}