
$experimental-support-for-webkit: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-khtml: true;
$experimental-support-for-opera: true;

$navbar-height: 30px; // overrides BS
$footer-height: $navbar-height;
$tiles-len: 6;


// not all colours get used, but are here for convenience
$green0: #5DC667;

$green-4: lighten( $green0, 40% );
$green-3-5: lighten( $green0, 35% );
$green-3: lighten( $green0, 30% );
$green-2-5: lighten( $green0, 25% );
$green-2: lighten( $green0, 20% );
$green-1-5: lighten( $green0, 15% );
$green-1: lighten( $green0, 10% );
$green-0-5: lighten( $green0, 5% );

$green0-5: darken( $green0, 5% );
$green1: darken( $green0, 10% );
$green1-5: darken( $green0, 15% );
$green2: darken( $green0, 20% );
$green2-5: darken( $green0, 25% );
$green3: darken( $green0, 30% );
$green3-5: darken( $green0, 35% );
$green4: darken( $green0, 40% );

$lblue0: #41BDD2;
$lblue-4: lighten( $lblue0, 40% );
$lblue-3-5: lighten( $lblue0, 35% );
$lblue-3: lighten( $lblue0, 30% );
$lblue-2-5: lighten( $lblue0, 25% );
$lblue-2: lighten( $lblue0, 20% );
$lblue-1-5: lighten( $lblue0, 15% );
$lblue-1: lighten( $lblue0, 10% );
$lblue-0-5: lighten( $lblue0, 5% );

$lblue0-5: darken( $lblue0, 5% );
$lblue1: darken( $lblue0, 10% );
$lblue1-5: darken( $lblue0, 15% );
$lblue2: darken( $lblue0, 20% );
$lblue2-5: darken( $lblue0, 25% );
$lblue3: darken( $lblue0, 30% );
$lblue3-5: darken( $lblue0, 35% );
$lblue4: darken( $lblue0, 40% );

$dblue0: #006668;
$dblue-4: lighten( $dblue0, 40% );
$dblue-3-5: lighten( $dblue0, 35% );
$dblue-3: lighten( $dblue0, 30% );
$dblue-2-5: lighten( $dblue0, 25% );
$dblue-2: lighten( $dblue0, 20% );
$dblue-1-5: lighten( $dblue0, 15% );
$dblue-1: lighten( $dblue0, 10% );
$dblue-0-5: lighten( $dblue0, 5% );

$dblue0-5: darken( $dblue0, 5% );
$dblue1: darken( $dblue0, 10% );
$dblue1-5: darken( $dblue0, 15% );
$dblue2: darken( $dblue0, 20% );
$dblue2-5: darken( $dblue0, 25% );
$dblue3: darken( $dblue0, 30% );
$dblue3-5: darken( $dblue0, 35% );
$dblue4: darken( $dblue0, 40% );


$dull-blue: #4D6375;
$dk-blue: #304B61;
$md-gry: #9a9797;

$font-family-sans-serif: 'Open Sans', sans-serif;

$FONT_PATH: "/_dist/fonts/";
$IMG_PATH: "/_dist/deploy/img/";