/*! fonts START */

/**
 * For better speed, production should load these from: 

 * Google fonts
 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 
 */
@import "../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/variables";
@import "vars";

$PACIFICO:	$FONT_PATH + "pacifico/";
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico'),
  		url($PACIFICO + "pacifico.woff") format('woff'),
        url($PACIFICO + "pacifico.ttf") format('truetype');
}

/*! fonts END */