
body {
	display: flex;
}

.app-outterbg {
	background-color: #DCDCDC;
}

.app-content {
	z-index: 10;
	@include alpha-attribute("background-color", rgba(white,0.6), white );
	padding-bottom: 50px; // to allow for footer
	min-height: 630px;
	max-width: 100%;
	padding-top: $navbar-height;

	.no-fixed-pos & {
		margin-top: 0;
	}

}

.l-app-content-inner {
	position: relative;
}
