.apptitle {
	margin-left: 5px;
	font-size: 1.6em;
	line-height: 1.85em;
	position: absolute;
	top: -2px;
	left: 17px;
	z-index: 10;

	.l-appnavbar-bottom & {
		top: -4px;
	}
	
	.ani-underline {
		bottom: 7px;
		border-color: #0D4D80;
	}
}



.apptitle-brace {
	color: white;
	// font-size: 0.9em;
	font-size: 20px;
	margin-left: 2px;

	.l-appfooter & {
		line-height: 35px;
		top: -4px;
	}
}

.apptitle-colon {
	margin: 0 -1px 0 3px;

	// if screen goes stupid small, remove the type and colon
	@media (max-width:$screen-sm-min) {
		display: none;
	}
}

.apptitle-text {
	z-index: 10;
	position: relative;
	color: #3F6079;
	text-shadow: 1px 1px 0px white;
}

.apptitle-type {
	color: white;
	font-size: 0.9em;
	z-index: 10;
	position: relative;
	
	// if screen goes stupid small, remove the type and colon	
	@media (max-width:$screen-sm-min) {
		display: none;
	}
}

.apptitle-equals {
	font-family: "Helvetica", arial, sans-serif;
}