$popover-arrow-color: $green-0-5;//rgba($green0,0.13);
$popover-bg: $popover-arrow-color;

$popover-border-color: $green2;
$popover-fallback-border-color: $green2; // IE8 fallback

$popover-arrow-outer-color: $green2;
$popover-arrow-outer-fallback-color: $green2; // IE8 fallback

@import "../../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/tooltip";
@import "../../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/popovers";

.appfooter {
	border: none;
	background-color: #0D4D80;
	box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.35);
	//background-image: url($IMG_PATH + "pattern1.png");
	//background-repeat: repeat-x;
}

.l-appfooter {
	z-index: 10;
	margin: 0;

	/* & > .container {
		position: relative;
		overflow: visible;
	} */

	.legal {
		line-height: $footer-height;
		margin: 0;
	}

	.container {
		position: relative;
	}
}

.info-popover {
	margin: 6px 0 0 40px;
	color: #fff;
	z-index: 100;
	cursor: pointer;
	// display: block;
	// position: absolute;
}

.popover-content {
	color: $green4;
	text-shadow: 1px 1px 0px rgba(#fff,0.3);
	font-size: $font-size-small;
}