@import "../../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/component-animations";
@import "../../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/navs";
@import "../../../deps/libs/bootstrap-sass-3.1.1/vendor/assets/stylesheets/bootstrap/navbar";


// needed for the text to overflow
.l-appnavbar-header {
	overflow: visible;
	width: 100%;
}



.l-appnavbar {
	z-index: 20; //10
	overflow: visible;
	margin-bottom: 0;
	// Don't give a height, so that the height can move with the nav collapse/expand

	& > .container {
		position: relative;
		overflow: visible;
	}
}

.appnavbar {
	border: none;
	background-color: transparent;
	box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
	//background-image: url($IMG_PATH + "pattern1.png");
	//background-repeat: repeat-x;
}

.appnavbar-bg {
	background-color: #0D4D80;
	height: $navbar-height;
}


.l-appnavbar-collapse {
	margin-right: 13px;
}

.appnavbar-collapse {
	// needs to have alpha or else z-index issues happen during animation
	// @include alpha-attribute("background-color", rgba(255,255,255,0.13), $green1 );
	background-color: #57bc60 !important;
	border-top: 0;
}


.l-appnavbar-list {
	float: none;
	text-align: center;
	margin: 0;

	@media (min-width: $screen-sm-min) {
		float: right;
	}

	&:last-child {
		margin-right: 0;
	}
}

.appnavbtn {
	padding: 0 !important;
	color: #fff !important;
	line-height: 38px !important;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(black, 0.6);
	margin-top: 3px;
	z-index: 10;
    position: relative;

	@media (min-width: $screen-sm-min) {
	    margin-right: 12px;
	}

	.ani-underline {
		bottom: 8px;
		border-color: #0D4D80;
	}

	&.btncontact-hidden {
		@media (min-width: $screen-sm-min) {
			display: none;
		}
	}
}

.l-appnavbtn {
	display: block;

	.l-contactpanel & {
		display: inline-block;
	}
}

.appnavbtn-title {
	font-size: 1.25em;
}

.l-appnavitem {
	

	@media (min-width: $screen-sm-min) {
		// needed this to override existing BS styles
		.l-appnavbar-list & {
			position: absolute;
		}
		margin-top: 3px;
		right: 27px;
	}
}

.appnavitem {
	// override default nav hover state
	padding: 0 !important;
	color: #ffffff !important;
	background: transparent;	
}

.l-appnavbar-toggle {
	padding: 8px;
	margin: 0 16px 0 0;
}

.appnavbar-toggle {
	display: none;
	border: none;
	background-color: $green-2 !important;
	border-radius: 0; // ie10 didn't understand 'initial'

	.icon-bar {
		width: 26px;

		// needed to override existing styles
		.appnavbar & {
			background-color: $green2;
		}
	}
}