
.svgsymbols {
	display: none;
}

.bgicon {
	height: 230px;
	fill: #2f2f2f;
	stroke: #2f2f2f;

	&-group {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow: hidden;
		opacity: 0.2;
	}


	$scale-list: 1.5 1.6 1.3 1.1 1.3 1.2 1.4 1.5 1.2 1.5 1.3 1.1 1.4 1.8 1.1 1.3 1.4 1.2 1.1 1.4;
	$rot-list: -12 -10 5 -4 6 -10 8 14 20 13 22 -10 -15 -4 6 10 8 14 20 13;

	&-col {

		$i: 0;
		@each $scale in $scale-list {
			$i: $i + 1;
			
			&:nth-child(#{$i}) {
				.bgicon {
					transform: scale($scale) rotate(#{nth($rot-list, $i) + "deg"});
				}
			}
		}
	}
}
