/*! modules common START */

.btnnormalize {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 2px; // some browsers have mandatory padding on button elements

	&::-moz-focus-inner {
	    border: 0;
	    padding: 2px; // consistant padding
	}
}

.appbtn {
	padding: 0;
	margin: 0;
	font-family: "Pacifico";
	line-height: 130%;
	text-shadow: 1px 1px 1px #fff;
}


.bodylink {
	color: inherit;
	&:hover {
		color: #666;
	}
}

.btnbig {
	font-size: 2.2em;
}

.btnmed {
	font-size: 1.8em;
}

.btnsml {
	font-size: 0.8em;
}

/*! modules common END */
