/*! modules common START */

.svg-instance {
	display: block;
	width: 200px;
	height: 200px;
}

.scrollable-y {
	display: block;
	// overflow-y: scroll;
	overflow-x: hidden;
}

.browsehappy {
	position: absolute;
}

.svgdefs {
	display: none;
}

.transformable {
	position: absolute;
	display: block;
}

.ani {
	display: block;
}

// If <a> tag, mustn't be nested in a <p> tag, or the <hr> won't stay nested (Chrome)
.ani-underline-button {
	display: inline-block; // makes so you don't need to specify a width
}

.ani-underline {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 1px;
	display: block;	
	
	// gets animated by hover state
	right: 50%;
	left: 50%;
}

/* a > span {
	display: block;
} */

/*! modules common END */