
.contactpanel {
	@include alpha-attribute("background-color", rgba(13, 40, 58, 0.95), rgb(13, 40, 58), false );
	box-shadow: rgba(#000, 0.25), 4px, 4px, 0px;

}

.contactpanel-hidden {
	display: none;
}

.l-contactpanel {
	position: fixed;
	height: 145px;
	z-index: 5;
	top: $navbar-height;
	left: 0;

	@media (min-width: $screen-sm-min) {
		z-index: 30;
		position: absolute;
		top: 7px;
		right: 14px;
		left: auto;
		width: 269px;
		height: 160px;
	}
}

.contactpanel {

	&-btnclose {
		height: 24px;
		&:focus {
			outline: none;
		}
	}

	&-btncloseicon {
		height: 19px;
		width: 19px;
		transition: fill 0.2s linear;
		fill: white;
		.contactpanel-btnclose:hover &, .contactpanel-btnclose:focus & {
			fill: $md-gry;
		}
	}

	&-phoneicon {
		height: 27px;
		width: 27px;
		margin-top: 3px;
	}

	&-emailicon {
		height: 27px;
		width: 27px;
		//margin-top: 1px;
	}

	&-emailicon, &-phoneicon {
		fill: white;
		position: absolute;
		left: 10px;
	}

	&-email, &-phone {
		padding-left: 16px;
	}

	&-email {
		margin-top: 7px;
	}
}

.l-contactpanel-btnclose {
	position: absolute;
	top: 113px;
	right: 14px;
	
	@media (min-width: $screen-sm-min) {
		top: 6px;
		left: 6px;
		right: auto;
	}
}

.contactpanel-title {
	margin: -4px -2px 0 0;
	float: right;
	display: block;
	position: relative;


	@media (max-width: $screen-sm) {
		display: none;
	}

	/* .ani-underline {
		left: -7%;
		right: -9%;
	} */
}

.contactpanel-text {
	@include alpha-attribute("color", rgba(#fff,0.8), $dblue0, true );
}


.contactpanel-phone {
	font-size: 1.4em;
	margin-top: 25px;

	@media (min-width: $screen-sm-min) {
		margin-top: 40px;
	}
}

.contactpanel-email {
	font-size: 1.2em;
	margin-top: 5px;

	a {
		@include alpha-attribute("color", rgba(#fff,0.8), $dblue0, true );

		&:hover {
			color: #fff !important;
			text-decoration: none;
		}
	}
}

.contactpanel-horizline{
	border-width: 2px;
	color: white;
	margin: 20px 1px 0 0;
}

.contactpanel-btnsocial {
	display: block;
	float: left;
	margin: 0 4px 0 0;

	&.last {
		margin: 0;
	}
}

.cnpnl {
	&-icn {
		width: 40px;
	    height: 40px;

	    fill: white;
	    transition: fill 0.2s linear;
	    .contactpanel-btnsocial:hover & {
	    	fill: $md-gry;
	    }
	}
}