.profile {
	border-radius: 15px;
	@include alpha-attribute("background-color", rgba(67, 95, 146, 0.8), rgb(67, 95, 146) );
	box-shadow: rgba(black, 0.25) 2px 2px 0px;
	margin-top: 30px;
    margin-bottom: 25px;
	padding: 10px 15px;

	a {
		color: white;
		text-decoration: underline;
	}
}


.profilebody {
	margin: 13px 5px 16px;
	//font-size: 0.9em;

	/** 
	 * Tablets and desktop get 2 columns. 
	 * jQuery plugin polyfill used for ie8-9 'multicolumn'
	 */
	@media (min-width:$screen-xs-min) {
		columns: 15px 2;
		-moz-columns: 15px 2; // not sure why, but auto-prefixer not picking this up for FF
	}

	// This gets added by jQuery plugin polyfill 'multicolumn'
	.column-wrapper & {
		margin: 0;
	}

	.fakebr {
		margin-bottom: 5px;
		display: block;
	}
}