
.slick-list {
    .slick-loading & {
        background: none; // overrides ajax loader
    }
}


.slick-prev,
.slick-next {
    &:before {
        font-family: none; // stops font from trying to load
    }
}

.slick-dots {
    li {
        button {
            &:before {
                font-family: none; // stops font from trying to load
            }
        }
    }
}