/*! modules text START */

.heading {
	padding: 0;
	margin: 0;
	font-family: "Pacifico";
	line-height: 130%;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(black, 0.6);
}

.heading1 {
	font-size: 2.2em;
}

.heading2 {
	font-size: 1.65em;
}

.heading3 {
	font-size: 1.4em;
}

.heading4 {
	font-size: 1.1em;
}

.appbody {
	font-family: $font-family-sans-serif;
	font-weight: normal;
	font-size: $font-size-base;
	line-height: 140%;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(#000, 0.25);
}

.legal {
	font-family: $font-family-sans-serif;
	font-size: 9px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0,.3);
}


/*! modules text END */