$bgcol: #fff;
@import "../../../deps/bower_components/snugbox/scss/_snugbox";

.tiles-state-wrapper {
	position: relative;
	display: block;
	clear: both;


	@media (min-width: $screen-sm) {
		padding-top: 0 !important;
	}
}

.tiles {

	&[data-id="oaks"] {
		.tiles-tn {
			background-image: url( $IMG_PATH + "oaks.jpg" );
			background-position: center top;
		}
	}

	&[data-id="sfdc"] {
		.tiles-tn {
			background-image: url( $IMG_PATH + "sfdc.jpg" );
			background-position: right bottom;
		}
	}

	&[data-id="dmcrp"] {
		.tiles-tn {
			background-image: url( $IMG_PATH + "dm-crp.jpg" );
			background-position: center top;
		}
	}

	&[data-id="rav4bep"] {
		.tiles-tn {
			background-image: url( $IMG_PATH + "rav4bep.jpg" );
			background-position: center top;
		}
	}


	&[data-id="toyotaplayground"] {
		.tiles-tn {
			background-image: url( $IMG_PATH + "toyota-playground.jpg" );
		}
	}

	&-centerer {
		.tiles:not(.active) & {
			height: inherit;
			width: 500px; 
			margin-left: 50%; 
			transform: translateX(-50%);
		}
	}
}

.tiles-container {
	margin: 10px 0 0 0;
	padding: 12px 15px 15px 15px;
	height: 256px;
	position: relative;

	transition: background-color 0.2s linear;
	@include alpha-attribute("background-color", rgba(34, 85, 175, 0.57), rgb(106, 142, 204), false );
	box-shadow: rgba(black, 0.25) 2px 2px 0px;

	.is-expanded & {
		height: 180px;
	}
		
	.active & {
		height: auto;
		@extend .clearfix;
	}
}

.tiles-tn {
	box-shadow: rgba(#000, 0.07), 2px, 2px, 0px;
	margin-top: 5px;
	margin-bottom: 5px;

	border-radius: 10px;
	@media (min-width: $screen-sm-min) {
		border-radius: 20px;
	}

	.is-expanded .active & {
		height: 280px;
	}
}

.tiles-heading {
	margin: 0;
	padding-bottom: 12px;
	.is-expanded & {
		font-size: 1.1em;
	}

	.is-expanded .active & {
		font-size: 1.5em;
		padding-right: 20px; // for close icon
	}
}


.l-tiles-btnclose {
	position: absolute;
	top: 5px;
	right: 5px;
}


// separate hit element gets clicked so that other clickable elements aren't included in it's click event
.tiles-hit {
	cursor: pointer;
	background-color: transparent;
	// opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: block;

	.is-expanded .active & {
		display: none;
	}
}

.tiles-description {
	margin-bottom: 20px;
	.has-readmore & {
		margin-bottom: 4px;
	}

	display: none;

	.is-expanded .active & {
		display: block;
	}

	a {
		color: white;
		text-decoration: underline;
	}
}


// If <a> tag, mustn't be nested in a <p> tag, or the <hr> won't stay nested (Chrome)
.tiles-url {
	padding: 0;
	margin: 0;
	font-family: "Pacifico";
	line-height: 130%;

	margin-top: 15px;
	position: relative;
	color: #fff;
	display: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);

	&:focus {
		color: white;
		text-decoration: none;
	}
	
	font-size: 1.25em;
	&.no-avail {
		font-size: 0.9em;
	}

	.is-expanded .active & {
		//display: inline-block; // In modules/common .ani-underline-button
	    clear: left;
		display: block;
		float: left;
	}

	// url too long for narrow mobiles
	[data-id="afl"] & {
		font-size: 1em;
	}

	@media (max-width: $screen-sm-min - 1px) {
		font-size: 1.15em;

		.narrow-hide {
			display: none;
		}
	}
}

.tiles-urldivider {
	color: #fff;
}

.tiles-urldivider {
	display: none;

	.is-expanded .active & {
		display: inline;
	}
}

.tiles {
	transition: opacity 0.3s linear;
	.is-initializing & {
		opacity: 0;
	}
	
	&-moredesc {
		display: none;

		.is-expanded .is-moreshown & {
			display: block;
		}
	}

	&-morebtn {
		float: right;
		display: none;

		&:focus {
			outline: none;
		}

		.is-expanded .active & {
			display: block;
		}

		margin-bottom: 10px;
		.is-moreshown & {
			margin-bottom: 14px;
		}
	}

	&-lessicon {
		display: none;
		.is-moreshown & {
			display: block;
		}
	}

	&-lessicon, &-moreicon {
		margin-left: -5px;
		fill: white;
		width: 30px;
		height: 30px;
	}

	&-moreicon {
		.is-moreshown & {
			display: none;
		}
	}

	&-subhdr {
		font-family: "Pacifico";
		line-height: 130%;
		font-size: 1.2em;
		margin: 10px 0 5px 0;
		color: white;
		text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	}

	&-desclist {
		
		padding-left: 20px;
		list-style-type: square;

		li {
			margin-bottom: 8px;

		}
	}

	&-csl {
		border-radius: 20px;
		overflow: hidden;
		z-index: 10; // border radius won't clip without this in Chrome
		clear: both;
		margin-bottom: 0 !important; // so dots position right
			
		.tiles.active &{
			border: 2px solid white;
		}

		&btn.slick-next {
			right: 10px;
		}

		&btn.slick-prev {
			left: 10px;
		}

		&btn {
			z-index: 10;
			border: 3px solid white;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			transition: background-color 0.2s linear;
			background-color: rgba($dk-blue, 0.5);
			&:before {
				content: "";
			}
			&:hover, &:focus {
				background-color: rgba($dk-blue, 0.8);
			}
		}
		&icon {
			.slick-prev & {
				transform: scaleX(-1);
			}
		    fill: white;
			width: 28px;
		    height: 30px;
		}
	}

	&-csldots {
		margin-bottom: 15px;
		position: relative;
		.slick-dots li {
			margin: 0;

			button {
				&:before {
					content: "";
					height: 10px;
					width: 10px;
					margin: 5px;
					background-color: white;
					border-radius: 50%;
				}
			}

		}
	}

	&-cslimg {

		margin: 0 auto;
		width: 100%;
		
		
		.no-slick & {
			display: none;
		}
		&:first-child {
			display: block !important;
			
			.no-slick & {
				// applies to all except mobile landscape
				@media (min-width: 768px), (max-width: 680px) {
					width: auto !important;
					height: 100% !important;
				}
			}
		}
	}

	&-btnclose {
		color: #fff;
		height: 30px;
		display: none;
		
		.is-expanded .active & {
			display: block;
		}
	}

	&-btncloseicon {
		height: 25px;
		width: 25px;
		transition: fill 0.2s linear;
		fill: white;
		.tiles-btnclose:hover & {
			fill: $dk-blue;
		}
	}
}