<div class="bgicon-group">
	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-gulp">
		  <use xlink:href="#gulp"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-npm">
		  <use xlink:href="#npm"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-travis-ci-icon">
		  <use xlink:href="#travis-ci-icon"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-bs">
		  <use xlink:href="#bootstrap-4"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-karma">
		  <use xlink:href="#karma"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-bitbucket">
		  <use xlink:href="#bitbucket"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-bower">
		  <use xlink:href="#bower"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-sass-1">
		  <use xlink:href="#sass-1"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-github-icon-1">
		  <use xlink:href="#github-icon-1"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-yeoman">
		  <use xlink:href="#yeoman"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-browserify-icon">
		  <use xlink:href="#browserify-icon"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-jasmine-2">
		  <use xlink:href="#jasmine-2"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-angular">
		  <use xlink:href="#angular-icon-1"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		
		<svg class="bgicon bgicon-handlebars-1">
		  <use xlink:href="#handlebars-1"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-open-source">
		  <use xlink:href="#open-source"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-lodash">
		  <use xlink:href="#lodash"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-nodejs-icon">
		  <use xlink:href="#nodejs-icon"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-grunt">
		  <use xlink:href="#grunt"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		
		<svg class="bgicon bgicon-jquery-1">
		  <use xlink:href="#jquery-1"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-rjs">
		  <use xlink:href="#require-js"></use>
		</svg>
	</div>

	<div class="{{ colGrid }}">
		<svg class="bgicon bgicon-visual-studio-2013">
		  <use xlink:href="#visual-studio-2013"></use>
		</svg>
	</div>
</div>