<section data-id="corollagoodtimes" class="tiles col-xs-12 col-sm-6 col-md-4 has-readmore" >

    <div class="tiles-container">
        <h2 class="tiles-heading heading heading2">Corolla Good Times + AFL My Legendary Moments</h2>
        
        <p class="tiles-description appbody">
            This was really 2 projects, but they shared mostly the same code, using AngularJS directives to split up the UI modules and share them between projects, via SVN Externals. They were both competition apps that allowed users to upload image, video and text content directly to S3 buckets. The first, "AFL My Legendary Moments", was built about 50% of the way through and then the 2nd "Corolla Goodtimes" was developed in parallel, by another front end developer, while a 3rd dev took care of most of the styling. 
        </p>
        
        <div class="tiles-moredesc">
            <p class="tiles-description appbody">
                Also written in AngularJS was the moderation dashboard, which shared many of the same directives too, where the client was able to approve, reject and organise entries. Competition is no longer running, so you can't use the entry form any more, but you can still view the user generated&nbsp;entries.
            </p>
            <p class="tiles-description appbody">
                Tools used: AngularJS, Angular Bootstrap UI (pagination), RequireJS, Plupload / Moxie, jQuery, GruntJS, Bower, Yeoman, Sass, Compass sprites, AWS S3. 
            </p>
        </div>

        {{> tiles-more }}

        <div class="tiles-csl no-slick">
            <img class="tiles-cslimg" src="{{ imgPath }}corolla-goodtimes.jpg" alt="Corolla Good Times">
            <img class="tiles-cslimg" src="{{ imgPath }}afl.jpg" alt="AFL Legendary Moments">
        </div>
        <div class="tiles-csldots"></div>

        <a class="tiles-url ani-underline-button appbtn btnnormalize" href="http://www.toyota.com.au/corolla/goodtimes" target="corollagoodtimes" >
            <span class="narrow-hide">www.</span>toyota.com.au/corolla/goodtimes
            <hr class="ani-underline">
        </a>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>