<section data-id="dmcrp" class="tiles col-xs-12 col-sm-6 col-md-4 has-readmore" >
    <div class="tiles-container">
        <h2 class="tiles-heading heading heading2">My Dan Murphy&rsquo;s</h2>
        
        <p class="tiles-description appbody">
            This was a microsite for the Dan Murphy&rsquo;s rewards program, where users could log in to manage their account. The front end project was separated into it's own project, using UI modules (aka 'widgets'), each with their own templates, sass, RequireJS modules, mock data and unit tests, making them able to run stand-alone and be developed on without the concerns of the entire app. The back end was Java and front end project used EJS, because it's similar syntax to JSP made merging markup farily simple, and with some custom 'grammar' in Beyond Compare (a code comparison program) unimportant differences could be ignored when merging markup between the back and front end projects.
            
        </p>

        <div class="tiles-moredesc">
            <h3 class="tiles-subhdr">Styles</h3>
            <p class="tiles-description appbody">
                Because there was a separate mobile site, using GruntJS I implemented a responsive/adaptive approach, where the same Sass code-base was used, making maintenance easier, but with a Sass variable for mobile/desktop, rather than using Media query breakpoints, which allowed us to generate a separate CSS file for each version of the site.
            </p>

            <h3 class="tiles-subhdr">Icons</h3>
            <p class="tiles-description appbody">
                For iconography we used a GruntJS plugin (which I built and open-sourced) called 'Grunt Badass', which optimizes SVGs so they can be used as SVG definitions and styled using CSS. Grunt Badass also features a fallback sprite for IE8 support, which was a requirement for this project. You can view the plugin here: <a target="grunt-badass" href="https://www.npmjs.com/package/grunt-badass">npmjs.com/package/grunt-badass</a>.
            </p>

            <h3 class="tiles-subhdr">Documentation</h3>
            <p class="tiles-description appbody">
                I built a GruntJS plugin called 'Grunt Doktor' that scanned all text files throughout the project, for specific code comments, plus individual README.md files, and generated a basic static site that could be easily understood. It meant developers could keep their documentation with their code and include those snippets in their documentation, sort of like 'living' documentation. You can view the plugin here: <a target="grunt-doktor" href="https://www.npmjs.com/package/grunt-doktor">npmjs.com/package/grunt-doktor</a>.
            </p>

            <h3 class="tiles-subhdr">Styleguide</h3>
            <p class="tiles-description appbody">
                A living styleguide was created for global shared components, such as buttons, typography, iconography, forms, colours, etc, so developers had a single source of truth to copy from. In order to display the many states that each widget could contain, each widget had it's own page within the styleguide, where each state was shown and briefly documented. Having developers work initially from these styleguide pages also meant they could quickly start building out widgets without needing much prior knowledge of the entire app.
            </p>
        </div>

        {{> tiles-more }}

        <div class="tiles-csl no-slick">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-1.jpg" alt="My Dan Murphy's - Home Page">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-2.jpg" alt="My Dan Murphy's - Registration">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-3.jpg" alt="My Dan Murphy's - Offers">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-4.jpg" alt="My Dan Murphy's - Dashboard">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-5.jpg" alt="My Dan Murphy's - Quiz">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-6.jpg" alt="My Dan Murphy's - Competitions">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-7.jpg" alt="My Dan Murphy's - Purchases">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-8.jpg" alt="My Dan Murphy's - Wish list">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-9.jpg" alt="My Dan Murphy's - Account">
            <img class="tiles-cslimg" src="{{ imgPath }}dm-crp-10.jpg" alt="My Dan Murphy's - Mobile">
        </div>
        <div class="tiles-csldots"></div>

        <a class="tiles-url ani-underline-button appbtn btnnormalize" href="https://www.danmurphys.com.au/dm/mydanmurphys/home.jsp" target="dmcrp" >
            <span class="narrow-hide">www.</span>danmurphys.com.au/dm/mydanmurphys/home.jsp
            <hr class="ani-underline">
        </a>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>