<section data-id="eastershow" class="tiles col-xs-12 col-sm-6 col-md-4 has-readmore" >
    <div class="tiles-container">
        <h2 class="tiles-heading heading heading2">Sydney Royal Easter Show</h2>
        
        <p class="tiles-description appbody">
            Built for the 2016 Sydney Royal Easter Show, this was the first of 3 theme-based websites for the Royal Agricultural Society. Modular UI components (widgets) were pivotal to the success of the project, as well as being able to easily merge changes between themes when fixes and changes were made. I built some automated, NodeJS-based command-line "prompt" apps to assist with many repetitive, error-prone tasks, such as Yeoman generators for creating new widgets, production and development build tasks, and launching folder comparison tools when merging markup, which would preload useful settings and custom 'grammar' to help filter out unimportant differences. 
        </p>
        <div class="tiles-moredesc">
            {{> ras-shared-desc }}
        </div>

        {{> tiles-more }}

        <div class="tiles-csl no-slick">
            <img class="tiles-cslimg" src="{{ imgPath }}eastershow-home.jpg" alt="Easter Show - Home Page">
            <img class="tiles-cslimg" src="{{ imgPath }}eastershow-meganav.jpg" alt="Easter Show - Mega Nav">
            <img class="tiles-cslimg" src="{{ imgPath }}eastershow-planner.jpg" alt="Easter Show - Planner">
            <img class="tiles-cslimg" src="{{ imgPath }}eastershow-mb.jpg" alt="Easter Show - Mobile">
            <img class="tiles-cslimg" src="{{ imgPath }}eastershow-pie.jpg" alt="Easter Show - Pie">
        </div>
        <div class="tiles-csldots"></div>

        <a class="tiles-url ani-underline-button appbtn btnnormalize" href="http://www.eastershow.com.au" target="eastershow" >
            <span class="narrow-hide">www.</span>eastershow.com.au
            <hr class="ani-underline">
        </a>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>