<div class="navbar navbar-default appnavbar-bg navbar-fixed-top l-appnavbar appnavbar" role="navigation">
    <div class="container">
      <div class="navbar-header l-appnavbar-header appnavbar-header">
        
        <button class="btnnormalize apptitle heading ani-underline-button">
            <span class="apptitle-text">
              Jim Doyle<span class="apptitle-colon">:</span>
            </span>
              <span class="apptitle-type">front end developer</span> <span class="apptitle-brace">{</span>
            <hr class="ani-underline">
        </button>
        <button class="btncontact appbtn btnnormalize l-appnavbtn appnavbtn pull-right ani-underline-button" href="#">
            <span class="appnavbtn-title">Contact me</span>
            <hr class="ani-underline">
        </button><!-- class="active" -->
      </div>


      <div class="col-xs-12 contactpanel l-contactpanel contactpanel-hidden">
          <!-- <span class="contactpanel-title appbtn appnavbtn">
              <span class="appnavbtn-title">Contact me</span>
          </span> -->

          <button class="contactpanel-title btncontact appbtn btnnormalize appnavbtn ani-underline-button" href="#">
              <span class="appnavbtn-title">Contact me</span>
              <hr class="ani-underline">
          </button><!-- class="active" -->

          <button class="contactpanel-btnclose l-contactpanel-btnclose btnnormalize">
            <svg class="contactpanel-btncloseicon"><use xlink:href="#close"></use></svg>
          </button>

          <p class="contactpanel-phone contactpanel-text heading heading4">
              <svg class="contactpanel-phoneicon"><use xlink:href="#phone"></use></svg>
              &nbsp;&nbsp;<span class="js-fill"></span>
          </p>

          <p class="contactpanel-email contactpanel-text heading heading4">
              <svg class="contactpanel-emailicon"><use xlink:href="#send"></use></svg>
              &nbsp;&nbsp;<a class="js-fill" href="#"></a>
          </p>

          <hr class="contactpanel-horizline">


          <a  class="contactpanel-btnsocial btnnormalize" 
              href="http://www.facebook.com/jimdigler" 
              target="jimd-facebook">
            <svg class="cnpnl-icn cnpnl-icnfacebook">
              <use xlink:href="#facebook-icon"></use>
            </svg>
          </a>
          <a  class="contactpanel-btnsocial btnnormalize" 
              href="https://www.linkedin.com/in/jimdoyle82" 
              target="jimd-linkedin">
            <svg class="cnpnl-icn cnpnl-icnlinkedin">
              <use xlink:href="#linkedin-icon"></use>
            </svg>
          </a>
          <a  class="contactpanel-btnsocial btnnormalize" 
              target="jimd-github" 
              href="https://github.com/superelement">
            <svg class="cnpnl-icn cnpnl-icngithub">
              <use xlink:href="#github-icon-1"></use>
            </svg>
          </a>
          <a  class="contactpanel-btnsocial btnnormalize" 
              target="jimd-npm" 
              href="https://www.npmjs.org/~jimdoyle82">
            <svg class="cnpnl-icn cnpnl-icnnpm">
              <use xlink:href="#npm"></use>
            </svg>
          </a>
          <a  class="contactpanel-btnsocial last btnnormalize" 
              target="jimd-bitbucket" 
              href="https://bitbucket.org/jimdoyle82">
            <svg class="cnpnl-icn cnpnl-icnbitbucket">
              <use xlink:href="#bitbucket"></use>
            </svg>
          </a>
      </div>
    </div><!--/.container-fluid -->
</div>        