<section data-id="oaks" class="tiles col-xs-12 col-sm-6 col-md-4 has-readmore" >
    <div class="tiles-container">
        <h2 class="tiles-heading heading heading2">Oaks Hotels (mobile site)</h2>
        
        <p class="tiles-description appbody">
            This was a fairly small adaptive mobile site, for booking hotels. Back end used .Net MVC structure and front end was broken up into UI components (widgets), each with their own razor template and placeholder models to mock the back end data. This kept the requirements for front end development to a minimum and meant the back end developers could merge markup using the same templating language (Razor). Browserify was used for JS modules, which allowed us to use a CommonJS-like syntax, and Sass/SMACSS was used to keep CSS modular and maintainable.
        </p>
        <div class="tiles-moredesc">
            <h3 class="tiles-subhdr">A few more things:</h3>
            <ul class="tiles-description appbody tiles-desclist">
                <li>Global utility functions and some of the more complex widgets were unit tested using 'Gulp Jasmine' and JSDom.</li>
                <li>Ajax calls were mocked locally using Mockjax, which meant we could test all possible responses.</li>
                <li>HTML5 Geolocation API used to find nearby hotels.</li>
                <li>IcoMoon used for icons.</li>
                <li>Google Maps API used for basic marker plotting.</li>
                <li>jQuery plugin 'Pick-a-date' used for a mobile-friendly date picker and to ensure older device compatibility.</li>
                <li>ParsleyJS library used for front end form validation.</li>
            </ul>

            <h3 class="tiles-subhdr">Styleguide</h3>
            <p class="tiles-description appbody">
                A living styleguide was created for global shared components, such as buttons, typography, iconography, forms, colours, etc, so developers had a single source of truth to copy from. In order to display the many states that each widget could contain, each widget had it's own page within the styleguide, where each state was shown and briefly documented. 
            </p>
        </div>

        {{> tiles-more }}

        <div class="tiles-csl no-slick">
            <div class="tiles-centerer">
                <img class="tiles-cslimg" src="{{ imgPath }}oaks.jpg" alt="Oaks Mobile">
            </div>
            <div class="tiles-centerer">
                <img class="tiles-cslimg" src="{{ imgPath }}oaks-2.jpg" alt="Oaks Mobile">
            </div>
        </div>
        <div class="tiles-csldots"></div>

        <a class="tiles-url ani-underline-button appbtn btnnormalize" href="http://m.oakshotelsresorts.com" target="oaks" >
            m.oakshotelsresorts.com
            <hr class="ani-underline">
        </a>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>