<div class="profile l-profile">
    <p class="profilebody appbody">
        <span class="profilebody-columnfallback">
            Alright, here's my spiel. I&rsquo;m a Front End developer based in Sydney, Australia, with 9&nbsp;years experience in the industry. In that time I've worked on a range of projects, from rich interactive experiences to large content managed sites. I've managed small teams (of up to 5 developers), both on-shore and off, which included deciding on practical front end architectures and keeping training to a minimum. 
            <span class="fakebr"></span>
            I believe in keeping components modular, so large apps are essentially made up of stand-alone small apps. Code can then be more easily understood, debugged, tested, reused, documented and potentially open-sourced. It makes it easier for developers (especially those new to a project) to understand these components in isolation and usually helps avoid lengthy handovers when changing staff.
            <span class="fakebr"></span>
        </span> 
        <span class="profilebody-columnfallback">
            
            These are some of the development tools I've used in the past few years:<br>
            Typescript, Babel (ES2015), Webpack, AngularJS, NodeJS, Karma, Jasmine, Gulp (custom plugins), Grunt (custom plugins), Yeoman (custom generators), jQuery, Bower, RequireJS, SASS, SUIT-CSS, SMACSS, Bootstrap, UIkit, Handlebars, C#, Razor (templates), GIT & SVN.
            <span class="fakebr"></span>
            When I&rsquo;m not coding, I like home-brewing, gardening, skateboarding, snowboarding and building playground equipment for my 2 kids.
            <span class="fakebr"></span>
            Please take a look below at some of my recent projects and checkout my public activity on 
            <a href="https://github.com/superelement?tab=activity" target="jimd-github">Github</a>, 
            <a href="https://www.npmjs.org/~jimdoyle82" target="jimd-npm">NPM</a> 
            or 
            <a href="http://stackoverflow.com/users/4826213/jim-doyle" target="jimd-stackoverflow">Stack Overflow</a>.
        </span>
    </p>
</div>