<h3 class="tiles-subhdr">Architecture</h3>
<p class="tiles-description appbody">
    I led a team of 3 off-shore Front End developers and had a separate 'UI project' so they could easily mock all the models used by the back end and not waste time connecting to real services. Each widget had it's own logicless razor templates, but just used mocked models with no controllers, much like how JSON works with Handlebars, in order to keep data simple, but maintain the same template language as the back end to keep merging markup simple. In some cases isomorphic razor templating was used, by utilizing an NPM module called 'Vash' and rendering templates both server and client side.
</p>

<p class="tiles-description appbody">
    The JS was kept deliberately simple, so the learning curve wouldn't be too hard for new developers, just using basic jQuery, global namespacing and closures for each scope (with public functions). As a result, checks for dependencies had to be manually added to each widget and this was something I always enforced when code reviewing. As for the many AJAX calls made to the server, Mockjax was used for locally testing different responses. Sass and the SMACSS methodology were used for styles, which added some moderate complexity, but kept the CSS maintainable and easily portable. 
</p>

<h3 class="tiles-subhdr">Styleguide</h3>
<p class="tiles-description appbody">
    A living styleguide was created for global shared components, such as buttons, typography, iconography, forms, colours, etc, so developers had a single source of truth to copy from. In order to display the many states that each widget could contain, each widget had it's own page within the styleguide, where each state was shown and briefly documented. A dropdown was also added to make switching between website themes easy while developing. Having developers work initially from these styleguide pages also meant they could quickly start building out widgets without needing much prior knowledge of the entire app.
</p>