<section data-id="eastershow" class="tiles col-xs-12 col-sm-6 col-md-4 has-readmore" >
    <div class="tiles-container">
        <h2 class="tiles-heading heading heading2">Royal Agricultural Society of NSW</h2>
        
        <p class="tiles-description appbody">
            You could almost say this was just a different 'skin' of the Easter Show and Sydney Showground websites. They were both built to use the same back end code and share around 90% of the same UI components (widgets), just with different CSS 'themes' and occasional minor JS or template 'state-based' conditions that would be set depending on the theme. They were built in parallel and updates to widgets in one theme could be easily merged into the other, using NodeJS tools (made specifically for this project) and a comparison app called 'Beyond Compare'. This process was done often and merged manually (rather than using Git merge), so that changes could be reliably tracked and tested after each merge. 
        </p>
        <div class="tiles-moredesc">
            {{> ras-shared-desc }}
        </div>

        {{> tiles-more }}

        <div class="tiles-csl no-slick">
            <img class="tiles-cslimg" src="{{ imgPath }}ras-home.jpg" alt="RAS - Home Page">
            <img class="tiles-cslimg" src="{{ imgPath }}ras-membership.jpg" alt="RAS - Membership">
            <img class="tiles-cslimg" src="{{ imgPath }}ras-offers.jpg" alt="RAS - Hot Offers">
            <img class="tiles-cslimg" src="{{ imgPath }}ras-mb.jpg" alt="RAS - Mobile">
            <img class="tiles-cslimg" src="{{ imgPath }}ras-timeline.jpg" alt="RAS - Timeline">
        </div>
        <div class="tiles-csldots"></div>

        <a class="tiles-url ani-underline-button appbtn btnnormalize" href="http://www.rasnsw.com.au" target="rasnsw" >
            <span class="narrow-hide">www.</span>rasnsw.com.au
            <hr class="ani-underline">
        </a>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>