<section data-id="rav4bep" class="tiles col-xs-12 col-sm-6 col-md-4" >
    <div class="tiles-container l-snugbox">
        <span class="l-snugbox-row">
            <span class="l-snugbox-cell l-snugbox-heading snugbox-heading">
                <h2 class="tiles-heading heading heading2">Toyota Rav4</h2>
            </span>
        </span>
        <p class="tiles-description appbody">
            This project uses Compass sprites for it&rsquo;s animation frames and icons, a custom Brightcove video player, plus HTML bg videos, with Flash fallbacks, using the library &lsquo;Media Element&rsquo;. Also staggers loading of assets using PreloadJS.
        </p>
        <p class="tiles-description appbody">
            Tools used: jQuery, RequireJS, GruntJS, Sass, Compass sprites, plus PreloadJS &amp; Media Element libraries.
        </p>

        <span class="l-snugbox-row">
            <div class="l-snugbox-cell tiles-tn l-snugbox-img snugbox-img"></div>
        </span>

        <p class="tiles-url no-avail" >
            URL no longer available
        </p>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>