<section data-id="sfdc" class="tiles col-xs-12 col-sm-6 col-md-4" >
    <div class="tiles-container">
        <h2 class="tiles-heading heading heading2">Garden Flip</h2>
        
        <p class="tiles-description appbody">
            This was an a bit of a personal experiment using CSS transitions, animations, SVGs. 
            <br>
            It was built back in 2013 and hasn't been maintained since, so you might find a few bugs. 
            <br>
            Doesn't work so well on mobiles and I'm not going to fix it, but I still think it's a bit of fun, so I'm keeping it on my site. 
            <br>
            Tools used were AngularJS, RequireJS, HammerJS, GruntJS, Bower, Sass, Compass sprites and SMACSS (CSS methodology).
            <br>
            Apologies to hard-core gamers - you may find this a bit easy.
        </p>

        <div class="tiles-csl no-slick">
            <img class="tiles-cslimg" src="{{ imgPath }}garden-flip-nav.jpg" alt="Garden Flip - Navigation">
            <img class="tiles-cslimg" src="{{ imgPath }}garden-flip-main.jpg" alt="Garden Flip - Gameplay">
            <img class="tiles-cslimg" src="{{ imgPath }}garden-flip-intro.jpg" alt="Garden Flip - Introduction">
        </div>
        <div class="tiles-csldots"></div>
        
        <a class="tiles-url ani-underline-button appbtn btnnormalize" href="http://www.jimdoyle.com.au/garden-flip/index.html" target="Garden Flip" >
            Play the game
            <hr class="ani-underline">
        </a>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>