<button class="tiles-morebtn ani-underline-button appbtn btnnormalize" type="button">
    <svg class="tiles-moreicon">
      <use xlink:href="#plus-circle"></use>
    </svg>

    <svg class="tiles-lessicon">
      <use xlink:href="#minus-circle"></use>
    </svg>
</button>