<section data-id="toyotaplayground" class="tiles col-xs-12 col-sm-6 col-md-4" >
    <div class="tiles-container l-snugbox">
        <span class="l-snugbox-row">
            <span class="l-snugbox-cell l-snugbox-heading snugbox-heading">
                <h2 class="tiles-heading heading heading2">Toyota Playground</h2>
            </span>
        </span>
        
        <p class="tiles-description appbody">
            A bit of an old project, but one of my favourites. Working in a team of 3 Flash Developers, we created an Adobe AIR game that runs on iPads and Android tablets. The game targets kids up to 5 years old and features a &lsquo;Hide and Seek&rsquo;, &lsquo;Colouring In&rsquo; and a &lsquo;Jigsaw Puzzle&rsquo; game, along with interactive menus and locally savable games. ActionScript is pretty much a dead language now, but at time AIR was a great way to publish to mobile devices and desktops with a single code-base. Was great fun to develop!
        </p>

        <span class="l-snugbox-row">
            <div class="l-snugbox-cell tiles-tn l-snugbox-img snugbox-img"></div>
        </span>

        <p class="tiles-url no-avail" >
            URL no longer available
        </p>

        {{> tiles-close }}

        <span class="tiles-hit"></span>
    </div>
</section>