<!DOCTYPE html>
<html class="no-js l-wrapper-outter-html app-outterbg">

	<head>
        <title>Jim Doyle:Front End Developer;</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="charset" content="utf-8">
        <meta name="description" content="Jim Doyle's portfolio as a Front End Developer" >

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        
        {{! this should come from google CDN in prod version }}
        {{! <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> }}
        <link rel="stylesheet" href="/_dev/app/fonts/opensans-dev-font.css">

        <link rel="stylesheet" href="css/debug/fonts.css">
        <link rel="stylesheet" href="css/debug/app.css">


        <!--[if lte IE 9]>
        <script type="text/javascript" src="../deps/libs/classlist-polyfill/classlist.min.js"></script>
        <![endif]-->

    </head>
    <body class="l-wrapper-outter-body app-outterbg is-initializing">
        <!--{GRUNT_BODY_MARKUP_START}-->
        <span class="svgsymbols">
            {{> svgsymbols }}
        </span>
        
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- for seo and sr -->
        <h1 class="hidden">Jim Doyle. Front End Developer.</h1>

        {{> bgicons colGrid="bgicon-col col-xs-6 col-sm-4 col-md-3" }}
        
        {{> header }}

        <div class="container app-content" id="content-outer">
            <div class="row">
                <div class="col-xs-12 l-app-content-inner" id="content-inner">

                    {{> profile }}

                    <!-- .is-expanded gets added by js when tile clicked -->
                    <span class="tiles-state-wrapper">

                        {{> eastershow imgPath="img/" }}
                        {{> ras imgPath="img/" }}
                        {{> showground imgPath="img/" }}
                        {{> oaks imgPath="img/"  }}
                        {{> danmurphys imgPath="img/"  }}
                        {{> sunshinefdc imgPath="img/"  }}
                        {{> corolla imgPath="img/" }}
                        {{> rav4 imgPath="img/"  }}
                        {{> toyota-playground imgPath="img/"  }}

                    </span>

                </div>
            </div>
        </div>
        {{> footer }}

        <!--{GRUNT_BODY_MARKUP_END}-->

        <script src="/_dev/deps/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/_dev/deps/bower_components/slick-carousel/slick/slick.js"></script>
        <script src="/_dev/deps/libs/bootstrap-3.1.1/js/transition.js"></script>
        <script src="/_dev/deps/libs/bootstrap-3.1.1/js/collapse.js"></script>
        <script src="/_dev/deps/libs/bootstrap-3.1.1/js/tooltip.js"></script>
        <script src="/_dev/deps/libs/bootstrap-3.1.1/js/popover.js"></script>
        
        <!--[if lte IE 9]>
        <script type="text/javascript" src="../deps/libs/multicolumn-polyfill/multicolumn.js" ></script>
        <![endif]-->

        <!--
        -->
        <script src="/_dev/deps/libs/modernizr.custom.93380.js"></script>
        <script src="/_dev/deps/bower_components/lodash/dist/lodash.min.js"></script>

        <script src="/_dev/app/js/Utils.js"></script>
        <script src="/_dev/app/js/App.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-21465735-1');ga('send','pageview');
        </script>
        -->
    </body>
</html>